{% extends "base.html" %} {% block content %}

<div class="training__choice">
    <div class="training__choice__container">
        <div class="training__choice__buttons">
            <div class="training__choice__button button">
                <a {% if not message %} href="/training/1" {% endif %}>Выбор перевода</a>
            </div>
            <div class="training__choice__button button">
                <a {% if not message %} href="/training/2" {% endif %}>Анаграммы</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}